/**
 * As seen in gnome-tweak-tool, credit goes to Yosef Or Boczko and
 * John Stowers
 */
.gat-titlebar-left:dir(ltr),
.gat-titlebar-right:dir(rtl) {
    border-top-right-radius: 0;
}

.gat-titlebar-right:dir(ltr),
.gat-titlebar-left:dir(rtl) {
    border-top-left-radius: 0;
}

/* the sidebar */
.sidebar {
    background-color: shade(@theme_bg_color, 0.99)
}
.sidebar-item {
    padding: 10px;
}
